@import './../../styles/variables.scss';

.menu{
    background-color: $color-white;
    width: 100vw;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menu__items{
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1rem;
    color: $color-dark;
    text-transform: uppercase;
    font-family: $regular-font;
}