@import './../../styles/variables.scss';

.menu{
    background-color: $color-white;
    width: 100vw;
}

h1{
    color: $color-green-dark;
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: $decorative-font;
}

ul{
    display: flex;
    width: 100vw;
    justify-content: space-around;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1rem;
    color: $color-dark;
    text-transform: uppercase;
    font-family: $regular-font;
}