@import './../../styles/variables.scss';

.plant-list__item{
    font-size: 1.1rem;
    color: $color-white;
    font-family: $regular-font-simple;
    font-weight: 400;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0.4rem;
    list-style: none;
    .displayed-list{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }
    .list-element{
        font-size: 1rem;
        color: $color-white;
        font-family: $regular-font-simple;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .buttons{
        display: flex;
        justify-content: left;
    }
    button{
        border: none;
        background-color: $color-green-dark;
        font-size: 1rem;
        color: $color-white;
        font-family: $regular-font-simple;
        font-weight: 400;
        float: right;
        cursor: pointer;
    }
    .plant--details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        margin: 10px;
        box-sizing: border-box;
        width: 100%;
    }
    .plant--details > li{
        list-style: inside;
    }
}

