@import './../../styles/variables.scss';
@import './../../styles/box.scss';

button{
    border: none;
    background-color: $color-green-dark;
    font-size: 1rem;
    color: $color-white;
    font-family: $regular-font-simple;
    font-weight: 400;
    float: right;
}

.plant-list_elements{
    font-size: 1rem;
    color: $color-white;
    font-family: $regular-font-simple;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}