// COLORS

$color-green-neutral: MediumSeaGreen;
$color-green-bright: LightGreen;
$color-green-dark: SeaGreen;
$color-white: White;
$color-dark: DarkSlateGrey;
$color-blue: DeepSkyBlue;

// FONTS

$decorative-font: 'Lobster', cursive;
$regular-font: 'Playfair Display', serif;