// COLORS

$color-green-neutral: MediumSeaGreen;
$color-green-bright: LightGreen;
$color-green-dark: SeaGreen;
$color-white: White;
$color-dark: DarkSlateGrey;

// FONTS

$decorative-font: 'Lobster', cursive;
$regular-font: 'Playfair Display', serif;
$regular-font-simple: 'Open Sans', sans-serif;