@import './../../styles/variables.scss';
@import './../../styles/box.scss';

.plant-list{
    display: flex;
    justify-content: center;
}

.plant-list ul{
    margin: 0;
    padding: 0;
}

.plant-list_list{
    font-size: 1rem;
    color: $color-white;
    font-family: $regular-font;
    font-weight: 800;
}